django==3.1.3
django-admin-ordering==0.13.1
django-auto-prefetching==0.1.9
django-filter==2.4.0
djangorestframework==3.12.2
gunicorn==20.1.0
l18n==2020.6.1
Pillow==8.3.1
psycopg2-binary==2.8.6
python-dateutil==2.7.3
pytz==2020.4
