{% load i18n %}
{% url 'homepage' as home_url %}
{% url 'teachers' as teachers_url %}
{% url 'posts' as posts_url %}
{% url 'contacts' as contacts_url %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-xxl">
      <a class="navbar-brand" href="{% url 'homepage' %}">{% blocktrans %}Лицей им. В.Сухомлинского{% endblocktrans %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item {% if home_url == request.path %}show active{% endif %}">
            <a class="nav-link" id="nav-home" aria-current="page" href="{{ home_url }}">{% blocktrans %}Главная{% endblocktrans %}</a>
          </li>
          <li class="nav-item {% if teachers_url == request.path %}show active{% endif %}">
            <a class="nav-link" id="nav-teachers" href="{{ teachers_url }}">{% blocktrans %}Учителя{% endblocktrans %}</a>
          </li>
          <li class="nav-item {% if posts_url == request.path %}show active{% endif %}">
            <a class="nav-link" id="nav-posts" href="{{ posts_url }}">{% blocktrans %}Новости{% endblocktrans %}</a>
          </li>
          <li class="nav-item {% if contacts_url == request.path %}show active{% endif %}">
            <a class="nav-link" id="nav-contacts" aria-current="page" href="{{ contacts_url }}">{% blocktrans %}Контакты{% endblocktrans %}</a>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'posts' %}">
          <input class="form-control me-2" type="search" name="search" {% blocktrans %}placeholder="Поиск по сайту"{% endblocktrans %} aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">{% blocktrans %}Искать{% endblocktrans %}</button>
        </form> 
      </div>
    </div>
  </nav>